
<div class="main-content">
  <div class="wrapper">
    <div class="inner-wrapper">
      <div class="gi two-thirds inline-block">
        <ul>
        {{ entries:listing folder="blog" limit="6" sort_dir="desc" paginate="true" }}
          <li class="post-box">
            <div class="post-title">
              <a href="{{ url }}">
                <h2>{{ title }}</h2>
              </a>
              {{ member:profile username=author }}
                <span class="small">Posted on <a href="{{ date }}">{{ date }}</a> by <a href="#"> {{ first_name }} {{ last_name}} </a></span>
              {{ member }}
            </div>
            {{ if image }}
              <figure class="left" style="background: url({{ image }});background-size: cover;"></figure>
            {{ else }}
             <figure class="left" style="background: url(/assets/img/woods.jpg);background-size: cover;"></figure>
            {{ endif }}
            <div class="post-text">
              <p>{{ summary }}</p>
              <a class="more" href="{{ url }}">Sigue leyendo<span class="icon icon-long-arrow-right"></a>
            </div>
          </li>
         {{ /entries:listing }}
        </ul>
        <section>
        {{ entries:pagination }}
          {{ if previous_page }}
            <a href="{{ previous_page }}" class="more">Previous Page</a>
            <span class="icon icon-long-arrow-left"></span>
          {{ endif }}
          {{ if next_page }}
            <a href="{{ next_page }}" class="more">Next Page</a>
             <span class="icon icon-arrow-right"></span>
          {{ endif }}
        {{ /entries:pagination }}
        </section>
      </div>{{ theme:partial src="sidebar" }}
      <div class="pagination">
        <ul class="pag-list">
          <li>
            <a href="#">
              <span class="icon-prev2"></span>
            </a>
          </li><li>
            <a href="#">1</a>
          </li><li>
            <a href="#">2</a>
          </li><li>
            <a href="#">3</a>
          </li><li>
            <a href="#">
              <span class="icon-next2"></span>
            </a>
          </li>
        </ul>
      </div>
  </div>
</div>