
<div class="main-content">
  <div class="wrapper">
    <div class="inner-wrapper">
      <div class="gi two-thirds inline-block">
        <article>
          <div class="post-box">
            <div class="post-title">
              <a href="blog-entry.html">
                <h2>¿Qué hacer con la historia de las emociones?</h2>
              </a>
              <span class="small">Posted on <a href="#">14 june</a> by <a href="#">Juan García</a></span>
            </div>
            <figure>
              <img src="http://lorempixel.com/200/300/" alt="">
            </figure>
            <div class="post-text">
              <p>{{content}}</p>
              <a class="more" href="#">Sigue leyendo<span class="icon icon-arrow-right"></a>
            </div>
          </div>
        </article>
        <article>
          <div class="post-box">
            <div class="post-title">
              <a href="#">
                <h2>¿Qué hacer con la historia de las emociones?</h2>
              </a>
              <span class="small">Posted on <a href="#">{{ date }}</a> by <a href="{{ url }}">{{ name }}</a></span>
            </div>
            <figure>
              <img src="http://lorempixel.com/200/300/abstract" alt="">
            </figure>
            <div class="post-text">
            <p>
              {{content}}
            </p>
            <a class="more" href="#">Sigue leyendo <span class="icon icon-arrow-right"></span></a>
          </div>
        </article>
        <section>
          <a href="#" class="more">
            <span class="icon icon-arrow-left"></span>
            Entradas anteriores
          </a>
        </section>
      </div>{{ theme:partial src="sidebar" }}
  </div>
</div>