<aside class="gi one-third">
  <h3 class="sidebar-title">Sobre el blog</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum magni autem facilis fugit labore quas odit illo officiis voluptatibus inventore aliquam ab</p>
	<h3 class="sidebar-title">Últimos posts</h3>
  <ul class="sidebar-list">
  	{{ entries:listing folder="blog" limit="6" sort_dir="desc" }}
  	  {{ if no_results }}
  	  	NO RESULTS!
  	  {{ else }}
  		  <li><a href="{{ url }}">{{ title }}</a></li>
  		{{ endif }}
  	{{ /entries:listing }}
  </ul>
  <h3 class="sidebar-title">Categorías</h3>
  <ul class="sidebar-list">
   {{ taxonomy:listing folder="blog" type="categories" limit="10"}}
   	 <li {{ if name == taxonomy_name}} class="on"{{ endif }}>
   	 	<a href="{{ url }}">{{ name }} </a><span class="result">({{ results }})</span></li>
  	{{ /taxonomy:listing }}
  </ul>
  <h3 class="sidebar-title">Mes de publicación</h3>
  <ul class="sidebar-list">
    {{ entries:listing folder="blog" type="date"  group_by_date = "true" group_by_date="F-Y" }}
      {{ if grouped_date }}
        <li><a href="/blog/month/{{ grouped_date }}">{{ grouped_date }}</a></li>
      {{ endif }}
	{{ /entries:listing }}
  </ul>
</aside>